.container{
  
  background-color: rgb(236, 247, 247);
  width: 300px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 10px 20px 10px rgba(14, 14, 164, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
 
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
} 
